#container{

}

#klantlijst {
    max-width: 90%;
    width: 75vw;
    margin: auto;
    margin-top: 20px;
    margin-left: 180px;
    
}

.card {
    height: 100%;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 18px;
    box-shadow: 17px 5px 29px -13px rgba(0,0,0,0.42);
    margin: 40px;
}
.card p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blue{
    position: relative;
    bottom: 0;
    padding: 15px;
    background-color: #78bae4;
    border-radius: 23px; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40%;
}
.cardwrapper {
    padding: 15px;
    height: 30%;
}

.naam {
    
}
.achternaam{
    margin-top: 12px;
    display: block;
}
.extra {

}
.email{
    margin-top: 10px;
}
.cardhr{
    border-color: #78bae4;
    margin-top: 15px;
    width: 100%;

}
.buttons{
    text-align: center;
}
.buttons p{
    font-size: 12px;
    display: inline-block;
    
}
.buttons p a{
    color: #f3f3f3;
}
.buttons p:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}

.detail a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.detail a:hover {
    text-decoration: underline;
}